<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>774177159686-bqsodtltjan0brm08iduive48b3bdh10.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.774177159686-bqsodtltjan0brm08iduive48b3bdh10</string>
	<key>API_KEY</key>
	<string>AIzaSyBCXPGeZANl7knudWT6voZOkLt11RIckvs</string>
	<key>GCM_SENDER_ID</key>
	<string>774177159686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.dlombard.bikes-rapides</string>
	<key>PROJECT_ID</key>
	<string>bikes-rapides-8b416</string>
	<key>STORAGE_BUCKET</key>
	<string>bikes-rapides-8b416.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774177159686:ios:4a3a607ddff970285ea187</string>
	<key>DATABASE_URL</key>
	<string>https://bikes-rapides-8b416.firebaseio.com</string>
</dict>
</plist>